scons/agent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="awap-agent">
<xs:complexType>
	<xs:sequence>
		<xs:element ref="service"/>
	</xs:sequence>
	<xs:attribute name="name" use="required" type="xs:NCName"/>
	<xs:attribute name="version" use="required" type="xs:decimal"/>
</xs:complexType>
</xs:element>

<xs:element name="service">
<xs:complexType>
	<xs:attribute name="module" use="required" type="xs:NCName"/>
	<xs:attribute name="name" use="required" type="xs:NCName"/>
</xs:complexType>
</xs:element>

</xs:schema>
